/* ############################################################################# */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

Orden de las declaraciónes
1. Posicionamiento:             => static, absolute, relative, fixed
2. Modelo de caja (Box model):  => margin, border, padding, content
3. Tipografía:                  => tipos, tamaños de fuente, etc
4. Estilos visuales:            => box-shadow, border-radius, gradient, etc
5. Otras:                       => Declaración CSS y más.

¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ */
/* ############################################################################# */

/* ############################################################################# */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Variables
¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ */

:root{
    --colorFondo: black;
}

/* ############################################################################# */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Estilos globales
¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /*16px === 1.6rem  */
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/* ############################################################################# */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Programacion Orientado a Objetos
¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ */

.center-1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.center-4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.center-7{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.center-2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.center-5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-8{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.center-3{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.center-6{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.center-9{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.gridsStartStart{
    display: grid;
    place-items: start start;
}
.gridsCenterStart{
    display: grid;
    place-items: center start;
}
.gridsEndStart{
    display: grid;
    place-items: end start;
}
.gridsStartCenter{
    display: grid;
    place-items: start center;
}
.gridsCenterCenter{
    display: grid;
    place-items: center center;
}
.gridsEndCenter{
    display: grid;
    place-items: end center;
}
.gridsStartEnd{
    display: grid;
    place-items: start end;
}
.gridsCenterEnd{
    display: grid;
    place-items: center end;
}
.gridsEndEnd{
    display: grid;
    place-items: end end;
}
.center_1{
    place-self: start start;
}
.center_4{
    place-self: center start;
}
.center_7{
    place-self: end start;
}
.center_2{
    place-self: start center;
}
.center_5{
    place-self: center center;
}
.center_8{
    place-self: end center;
}
.center_3{
    place-self: start end;
}
.center_6{
    place-self: center end;
}
.center_9{
    place-self: end end;
}
.caja{
    width: 100%;
    min-width: 320px;
    max-width: 1500px;
    margin: auto;
}

/* ############################################################################# */

.flexContenedor- .FCcaja--{
    width: 200px;
    height: 200px;
    background: red;
    border: 1px solid olivedrab;
}
.flexContenedor- .FCcaja-- .caja{
    width: 50px;
    height: 50px;
    background: black;
}

.gridsContenedor- .FCcaja--{
    width: 200px;
    height: 200px;
    background: blue;
    border: 1px solid olivedrab;
}
.gridsContenedor- .FCcaja-- .caja{
    width: 50px;
    height: 50px;
    background: white;
}

.gridContenedor- .FCcaja--{
    display: grid;
    width: 200px;
    height: 200px;
    background: orange;
    border: 1px solid blue;
}
.gridContenedor- .FCcaja-- .caja{
    width: 50px;
    height: 50px;
    background: olivedrab;
}











.cuadro{
    display: grid;
    grid-template: repeat(3, 200px) / repeat(3, 200px);
    gap: 5px 5px;
    font-size: 5rem;
}
.cuadro div{
    background: red;
}



.hola{
    display: grid;
    background: red;
    width: 900px;
    height: 900px;
}
.hola .aaaaa{
    background: blue;
    width: 300px;
    height: 300px;
}

.holaMundo{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    background: orange;
}
.holaMundo article{
    width: 290px;
    height: 350px;
    padding: 40px 40px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border: 1px solid rgba(0,0,0,.125);
}

/*
START: footer --------------------------------------------------------------------------------------
*/

#footer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 100px) 50px;
    place-content: center center;
    padding: 30px 15px 30px 15px;
    background: #2b3041;
    color: white;
}
#footer section div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: var(--textoContenido);
}
#footer section ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    height: 50px;
}
#footer section ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border: 1px solid rgba(0,0,0,.125);
    width: 50px;
    height: 50px;
}
#footer section ul li a:hover{
    background: #2b3041;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
#footer section ul li a img{
    width: 30px;
    height: 30px;
}
#footer section:nth-child(4) p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    font-size: var(--textoContenido);
}
